@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --main-bg: #4b6858;
  --main-bg-nav: #518368;
  --main-color: #eadaa2;
  scrollbar-color: var(--main-bg-nav) var(--main-bg);
  scrollbar-width: thin;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--main-bg);
  color: var(--main-color);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

.logo {
  text-decoration: underline;
  font-style: italic;
}

a {
  color: var(--main-color);
  text-decoration: none;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 100px;
  padding-block: 30px;
  background-color: var(--main-bg-nav);
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.01);
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav .links {
  display: flex;
  gap: 30px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid var(--main-color);
  border-radius: 10px;
  background-color: transparent;
  color: var(--main-color);
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--main-color);
  color: var(--main-bg);
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 15px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-top: 3px solid var(--main-color);
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  margin-left: 15px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1050px) {
  .nav {
    padding-inline: 20px;
  }

  .nav .links {
    display: none;
  }

  .action-btns {
    gap: 5px;
    flex-direction: column;
    align-items: flex-end;
  }

  main #welcome-message {
    font-size: 18px;
    text-align: center;
  }
}

.nav #user-btn {
  font-size: 20px;
  cursor: pointer;
  border: 1px solid var(--main-color);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.nav #user-btn:hover {
  background-color: var(--main-color);
  color: var(--main-bg);
}

main #welcome-message {
  margin: 20px;
  font-size: 36px;
}
